@use '../../../assets/styles/media' as *;

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100vh;
}

.app-header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

  @include sm {
    height: 5rem;
  }

}

.app-header__logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  img {
    width: 8rem;
    height: auto;
    @include lg {
      width: 10rem;
    }

    .dark & {
      display: none;
    }
  }
}

.app-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
