@use '../../../../assets/styles/media' as *;

.tasks {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;

  &__container {
    flex: 1;
    height: 100%;
    background-color: transparent;
  }

  &__drawer {
    width: 100%;
    @include sm {
      width: 32rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-md);
    padding: 2rem;

    @include sm {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: var(--text-3xl);
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 1;
  }

  &__subtitle {
    margin-top: 0.25rem;
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  &__actions {
    margin-top: var(--space-md);

    @include sm {
      margin-top: 0;
    }
  }

  &__list {
    border-top: 1px solid var(--color-border);
  }

  &__row {
    border-top: 1px solid var(--color-border);
    height: 3.5rem;

    &:hover {
      background-color: var(--color-hover);
    }

    &--first {
      border-top: none;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 2rem;
    cursor: pointer;
  }

  &__selected-indicator {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;

    z-index: 10;

    display: flex;
    flex: 0 0 auto;

    width: 0.25rem;
    background-color: var(--color-primary);
  }

  &__task-button  {
    margin-right: 0.5rem;
    margin-left: -0.625rem;
    line-height: 1;
  }

  &__item:hover &__drag-handle {
    display: flex;
  }


  &__task-link {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    padding-right: 1.75rem;
    text-decoration: none;
    color: inherit;
  }

  &__task-title {
    flex: 1;
    margin-right: var(--space-sm);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--text-sm);
  }

  &__placeholder {
    color: var(--color-text-secondary);
    user-select: none;
  }

  &__task-date {
    font-size: var(--text-sm);
    color: var(--color-text-secondary);
    white-space: nowrap;
  }


  &__empty {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface);
    padding: 2rem;
  }

  &__empty-icon {
    color: var(--color-text-secondary)
  }

  &__empty-text {
    margin-top: 1rem;
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--color-text-secondary);
  }
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-text-secondary);
}
