$icon-sizes: (
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  18: 4.5rem,
  24: 6rem,
);

@each $name, $size in $icon-sizes {
  .icon-size-#{$name} {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    font-size: $size;
    line-height: $size;

    svg {
      width: $size;
      height: $size;
    }
  }
}
