:root {
  --color-primary: #ff6600;
  --color-primary-soft: #fff7e0;
  --color-accent: #448aff;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-surface: #f9fafb;
  --color-danger-soft: #fee2e2;
  --color-danger: #ef4444;
  --color-border:#d8d8d7;
  --color-hover: #ebeef1;
  --text-xs: 0.75rem;     /* 12px */
  --text-sm: 0.875rem;    /* 14px */
  --text-base: 1rem;      /* 16px */
  --text-lg: 1.125rem;    /* 18px */
  --text-xl: 1.25rem;     /* 20px */
  --text-2xl: 1.5rem;     /* 24px */
  --text-3xl: 1.875rem;   /* 30px */
  --text-4xl: 2.25rem;    /* 36px */

  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.75;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --radius-full: 9999px;

}
