@use '../../../../assets/styles/media' as *;

.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1.5rem;

    @include sm {
      align-items: flex-start;
      padding-bottom: 2rem;
      flex-direction: row;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: var(--radius-full);

    background-color: var(--color-primary-soft);
    color: var(--color-primary);

  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    gap: 0.25rem;

    @include sm {
      margin-top: 0;
      margin-left: 1rem;
      padding-right: 2rem;
      text-align: left;
    }
  }

  &__title {
    font-size: var(--text-xl);;
    line-height: var(--leading-tight);
    font-weight: 500;
  }

  &__message {
    color: var(--color-text-secondary);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;

    background-color: var(--color-surface);;

    @include sm {
      justify-content: flex-end;
    }
  }
}
