@import "assets/styles/theme";
@import "assets/styles/tokens";
@import "assets/styles/media";
@import "assets/styles/icons";

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

